/* Colours */
:root {
  --primary-colour: linear-gradient(to bottom right, #8387f1 0%, #c584e0 74%);
  /* --primary-colour: linear-gradient(to bottom right, #666beb 0%, #d288f1 74%); */
  /* --primary-colour: linear-gradient(to bottom right, #9094f8 0%, #d288f1 74%); */
  /* --accent-colour: #fcc297; */
  --high-emphasis-font-colour: #212529;
  --accent-font-colour: #612a91;
  --low-emphasis-font-colour: #fff;
  --background-colour: #212529;
  --border-colour: #dee2e6;
  --accent-colour: #c584e0;
}

/* Base styles */

html {
  font-size: 62.5%;
}

#root {
  background-color: var(--background-colour);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: var(--high-emphasis-font-colour-colour);
}

p,
h1,
h2,
h3 {
  margin: 0;
  margin-bottom: 4px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

#root {
  height: 100vh;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

section {
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.primary {
  background: var(--primary-colour);
  color: var(--low-emphasis-font-colour);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.image-container img {
  height: calc(100vh - 237px);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
  cursor: pointer;
}

.material-symbols-outlined.checked {
  font-variation-settings: "FILL" 1;
  color: var(--high-emphasis-font-colour);
  cursor: pointer;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

/* Typography */

h1 {
  text-align: center;
  background: var(--primary-colour);
  color: var(--low-emphasis-font-colour);
  padding: 24px 0px;
}

.time-header {
  margin-bottom: 12px;
}

h3 {
  font-size: 1.6rem;
  color: var(--high-emphasis-font-colour);
}

section p,
.not-found {
  color: var(--low-emphasis-font-colour);
}

.not-found {
  margin-top: 32vh;
  text-align: center;
}

/* Navigation */

nav ul {
  display: flex;
  justify-content: center;
  gap: 8px;
}

a:not(.bottom-nav a) {
  color: var(--low-emphasis-font-colour);
}

.top-nav a {
  font-weight: 600;
}

.top-nav a.active {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.top-nav li {
  padding: 16px 8px;
}

.days-nav ul {
  gap: 12px;
  margin: 16px 0px;
}

.days-nav a {
  display: inline-block;
  border-radius: 24px;
  border: 2px solid var(--accent-colour);
}

.days-nav a span {
  padding: 6px;
  display: block;
  font-size: 1.2rem;
}

.days-nav a.active {
  color: var(--low-emphasis-font-colour);
  background: var(--primary-colour);
  border: 2px solid transparent;
}

.days-nav a::first-letter {
  text-transform: uppercase;
}

.bottom-nav li {
  padding: 8px 16px;
}

.bottom-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--accent-font-colour);
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--low-emphasis-font-colour);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.bottom-nav .material-symbols-outlined {
  font-size: 3rem;
}

.bottom-nav a.active .material-symbols-outlined {
  font-variation-settings: "FILL" 1;
}

/* Event times */

.events-list-container {
  height: calc(100vh - 282px);
  overflow: scroll;
}

.event-container {
  margin-bottom: 16px;
}

.events-list-container h2 {
  background: var(--primary-colour);
  color: var(--low-emphasis-font-colour);
  padding: 8px 16px;
  margin-bottom: 0px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  text-align: center;
}

.events-list li {
  background-color: var(--low-emphasis-font-colour);
  padding: 8px 16px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.5;
  border-bottom: 1px solid var(--border-colour);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.event-item-content {
  display: flex;
  align-items: center;
  gap: 4px;
}

.remove-slide-left {
  transform: translateX(-200%);
  transition: transform 0.3s ease-in-out;
}

/* festival list */

.festival-list {
  margin-top: 40px;
}

.festival-list li {
  background-color: white;
  padding: 16px;
  margin: 8px 0px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1rem;
}

.festival-list h2 {
  font-size: 1.6rem;
}

.festival-list li img {
  height: 50px;
  width: 80px;
  object-fit: contain;
}

.festival-list .icons-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.festival-list .schedule-icon {
  color: var(--accent-font-colour);
}

/* empty view */
.empty-view {
  text-align: center;
}

.empty-view h3 {
  color: var(--low-emphasis-font-colour);
}

.full-page {
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  padding: 16px;
  border-radius: 32px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  text-indent: 38px;
}

form {
  position: relative;
}

form::after {
  content: "search";
  font-family: "Material Symbols Outlined";
  left: 16px;
  top: 11px;
  font-size: 24px;
  position: absolute;
  margin: 0px 8px;
}

/* media queries */

@media screen and (min-width: 569px) {
  #root {
    width: 569px;
    margin: 0 auto;
    position: relative;
  }

  .bottom-nav {
    position: absolute;
    width: 569px;
    bottom: 0px;
  }
}
